extends ../../layouts/default 
include ../../mixins/messages-success
block main 
    .col-9 
        +messages-success(5000)
        +messages-error(5000)
        .my-3.card 
            .card-header
                h1 Sửa user
            .card-body 
                form(class="form-group" method="POST" action=`/admin/users/edit/${record.id}?_method=PATCH`)
                    .mb-3 
                        label(class="form-label") Full name
                        input(type="text" name="fullName" value=record.fullName class="form-control")
                    .mb-3 
                        label(class="form-label") Email
                        input(type="text" name="email" value=record.email class="form-control")
                    .mb-3 
                        label(class="form-label") User name
                        input(type="text" name="userName" value=record.userName class="form-control")
                    .mb-3 
                        label(class="form-label") Password
                        input(type="password" name="password"  class="form-control")
                    .mb-3 
                        label(class="form-label") Roles
                        select(name="roleId"  class="form-control")
                            option(value="" ) ----- Chọn quyền -----  
                            each role in roles
                                - if(record.roleId==role.id)
                                    option(value=role.id selected) #{role.title}
                                - else 
                                    option(value=role.id) #{role.title} 

                                
                    .mb-3 
                        label(class="form-label") status
                        .row.mx-3
                            - if(record.status=="active")
                                label(for="" class="col-2 mr-3") Active                               
                                    input(type="radio" class="form-radio" name="status" value="active" checked) 
                                label(for="" class="col-2 mr-3") Unactive   
                                    input(type="radio" class="form-radio col-2" name="status" value="unactive") 
                            - else 
                                label(for="" class="col-2 mr-3") Active                               
                                    input(type="radio" class="form-radio" name="status" value="active" ) 
                                label(for="" class="col-2 mr-3") Unactive   
                                    input(type="radio" class="form-radio col-2" name="status" value="unactive" checked)
                    .mb-3.text-center 
                        input(type="submit" class="btn btn-primary" value="Thêm user")                      