extends ../../layouts/default 
include ../../mixins/search
block main
    .col-9.px-3
        .card.my-3
            h5.card-header Bộ lọc và tìm kiếm
            .card-body.row 
                .col-6 
                    each item in filterStatus 
                        a(href=`/admin/products?status=${item.status}`) 
                            button(class=`btn btn-sm mx-1 btn-outline-success ${item.class}`) #{item.name}
                .col-6 
                   +search(keyword)
        .card.mb-3
            h5.card-header Danh sách sản phẩm
            .card-body
                table.table.table-striped.my-3.text-center 
                    thead.table-dark 
                        tr 
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Gía
                            th Trạng thái 
                            th Hành động
                    tbody 
                        each item,index in products 
                            tr 
                                td #{index+1}
                                td
                                    img(src=item.thumbnail, alt="",width="100px")
                                td #{item.title}
                                td #{item.price}$
                                td 
                                    - if(item.status == "active")
                                        a(href="")
                                            span.badge.bg-success Đang hoạt động 
                                    - else
                                        a(href="")
                                            span.badge.bg-danger Dừng hoạt động
                                td 
                                    button(class="btn btn-warning mx-1") Sửa
                                    button(class="btn btn-danger mx-1") Xóa

        nav(aria-label="Page navigation example")
            ul(class="pagination")
                - if(objPagination.currentPage>1)
                    li(class="page-item")
                        button(class="page-link" button-pagination=objPagination.currentPage-1 ) Trang trước
                
                - for(let i =objPagination.pageStart;i<=objPagination.pageEnd;i++)
                    li(class="page-item")
                        button(class=`page-link ${objPagination.currentPage==i?"active":""}`  button-pagination=i) #{i}
                //- - else if (objPagination.currentPage+2<objPagination.totalPage)
                //-     - for(let i =objPagination.currentPage;i<=objPagination.currentPage+2;i++)
                //-         li(class="page-item")
                //-             button(class=`page-link ${objPagination.currentPage==i?"active":""}`  button-pagination=i) #{i}
                //- li(class="page-item")
                //-     button(class="page-link" href="#") 2
                //- li(class="page-item")
                //-     button(class="page-link" href="#") 3

                - if(objPagination.currentPage<objPagination.totalPage)
                    li(class="page-item")
                        button(class="page-link" button-pagination=objPagination.currentPage+1) Tiếp theo
        
   
                    